.main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: 500px;

  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
