.select {
  background: #b2b2b2;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid black;
  width: 200px;
  &:hover {
    cursor: pointer;
  }
}
.input {
  background: #e5e4e2;
  color: black;
  font-size: 1em;
  width: 100%;
  border: none;
  margin: 0;
  outline: none;
}

.search {
  margin-top: 16px;
  max-height: 200px;
  overflow-y: scroll;
}

.placeholder {
  background: #e5e4e2;
  color: black;
  display: flex;
  overflow: hidden;
}
